body {
	margin: 0;
	padding: 0;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 10px;
	background-color: #000;
	color:#FEE;
}

body a {
	font-weight:bold;
   color:#FFF;
   text-decoration: none;
   border:none;
}

body a img {
	border:none;
}

#profile-wrapper {
    width:385px;
    float:left;
}

#photo {
	margin-top:27px;
	margin-left:8px;
	float:left;
	border:3px solid #FFF;
}

#main-header {
   background-color:#000;
}

#admin-header {
	width:820px;
	margin:0 auto;
}

.offset-text {
	position: absolute;
	left: -6000px;
}

#content {
    width:875px;
    margin:0 auto;
    /*border:solid 1px red;*/
}

#content #add-event-wrapper {
   width:600px;
   margin:0 auto;
   overflow:auto;
}
#gig-description {
	height:55px;
}

fieldset#gig-fields {
	display:none;
	margin-top:25px;
	width:560px;
}

fieldset#gig-fields .hour {
    left:60px;
}

fieldset.generic-fields {
   margin-top:25px;
}

fieldset.generic-fields legend {
	font-size: 1.1em;
}
.header-font {
	font-size:1.5em;
}

.form-div {
	padding:5px 0 5px 10px;
	background-color:#222;
	border:solid 1px #D8D5D5;
	margin-top:4px;
	position:relative;
	height:35px;
}

.dialog-div {
	padding:5px 0 5px 10px;
	background-color:#000;
	border:solid 1px #333;
	margin-top:4px;
}

.gig-div {
  padding:5px 0 5px 10px;
	background-color:#333;
	border:solid 1px #D8D5D5;
	margin-top:4px;
	border:1px solid #CCC;
}

.gig-tip {
  font-style: italic;
  font-size:1em;
  margin-top:4px;
}

.gig-input {
	width:100%;
	text-align: right;
}

.gig-para td {
	text-align: left;
}

.gig-para {
	width:350px
}

.gig-div .gig-value {
    font-weight:bold;
    font-size:1.1em;
    
}


.dialog-div .error {
	left:120px;
	bottom:0px;
	color:#DB0720;
}

.form-div .error {
	position:absolute;
	left:120px;
	bottom:0px;
	color:#DB0720;
}

.fatbelly-button {
	top:23px;
	right:16px;
	font-size:1.2em;
	display:block;
	background-color:#222;
	color:#FFF;
}

.submit-area {
   position:relative;
   text-align:right;
   margin-top:6px;
   float:right;
}

fieldset .form-div label {
	position:absolute;
	top:7px;
	left:35px;
	font-size:1.2em;
}

fieldset .form-div textarea {
	position:absolute;
	top:4px;
	left:120px;
}

fieldset .form-div input, fieldset .form-div select {
	position:absolute;
	top:4px;
	left:120px;
}

fieldset .form-div .first-select {
	position:absolute;
	top:5px;
	left:183px;
}

div#calendar {
	width:810px;
	margin:0 auto;
}

div#logo {
	position: relative;
	display: block;
	height: 40px;
	background-color: #000;
	background-image: url(../images/admin-logo.png);
	background-repeat: no-repeat;
}

div#navigation {
	margin:5px 0 0 5px;
}

 div.gig a {
    font-size:1.2em;
    font-weight:bold;
    background-color:red;
    border-color:red;
    border-style:solid;
    color:white;
}

 div.blue a {
    font-size:1.2em;
    font-weight:bold;
    background-color:blue;
    border-color:blue;
    border-style:solid;
    color:white;
}


ul#nav-list {
	list-style: none;
	background-color: #FFF;
	margin: 0;
	padding: 0;
}

ul#nav-list li {
	margin-left: 0;
	display: inline;
	text-align:center;
}

ul#nav-list li a {
	color:#333;
	text-decoration: none;
	display:block inline;
	border:solid 1px #333;
	padding:3px 12px;
	width:40px;
	height:20px;
}

#tuneslist {
   width:882px;
   border: 1px solid #333;
   padding:5px;
   margin:0 auto 0 30px;
   overflow: auto;
}

#tuneslist .tune {
  border: 1px solid #CCC;
  font-weight:bold;
  font-size:1.2em;
  width:280px;
  padding:4px;
  margin-left:3px;
  margin-top:3px;
  float:left;
  color:#000;
  z-index: 102;
}

#play-list-items {
	overflow:auto;
	padding:0;
	margin:0;
}

#play-list-items .playing {
   background-color: #000;
}

#play-list-items li {
	list-style: none;
}

#play-list-items li span.handle {
    cursor:move;
}

#play-list-items li .number {
	background-image: url("../images/handle.png");
	background-repeat:no-repeat;
    position:absolute;
    width:25px;
    height:25px;
    top:7px;
    left:6px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    font-family: Georgia, Times New Roman, Times, serif;
}

#play-list-items li .artist {
    position:absolute;
    top:17px;
    left:31px;
}

#play-list-items li .title {
    position:absolute;
    font-size:1.4em;
    top:10px;
    left:36px;
}

#play-list-items .playlist {
  position:relative;
  border: 1px solid #CCC;
  font-weight:bold;
  font-size:1.2em;
  width:860px;
  height:30px;
  padding:4px;
  margin-left:3px;
  margin-top:3px;
  float:left;
  color:#FFF;
  z-index: 50;
  overflow:auto;
}

#remaininglist {
	position:relative;
}

#remaininglist .tune {
  position:relative;
  display:block;
  width:185px;
  height:33px;
  padding:4px;
  margin:3px 1px 3px 2px;
  background-color:#666;
  border:1px solid #FFF; 
}

.break {
	background-color:#E05127 !important;
}

#play-list-items .tune {
  position:relative;
  display:block;
  height:33px;
  padding:4px;
  margin:3px 1px 3px 2px;
  background-color:#666;
  border:1px solid #FFF;
}


#remaininglist .tune .add-tune {
	position:absolute;
	right:6px;
	top:9px;
}

.addtune-div {
   clear:both;
   background-color: #222222;   
   border:1px solid #333;
   width:65px;
   margin:7px 0 5px 30px;
}

.addtune {
   margin:5px 0 5px 0;
   padding-left:5px;
   text-decoration: none;
}

#play-list-items .remove-span {
	position:absolute;
	right:5px;
	top:6px;
}

a.addtune:hover {
	text-decoration: underline;
}

.initial {
	background-color: #CC3333;
}

.practice {
	background-color: #0D04B7;
}

.agreed {
	color:#000;
	background-color: #FFCC33;
}

.playing {
	background-color: #339933;
}

#status-div {
	margin-left:30px;
	margin-bottom:15px;
}

#status-div .status {
	padding:2px;
	border:1px solid #CCC;
}

.ext_wrapper {
  background-color: #000;
}

#start-hour {
   left:120px;
}

#calendar .event-click div a {
	background-color: #000;
	color:#FFF;
}