.product_img_lg img {
	border: 0px;
}

#rbooksLink {
	display:none;
	width:120px;
	text-align:center;
}

#widgetLink {
	display:none;
	width:120px;
	text-align:center;
}

#loadingImage {
	display:none;
	width:120px;
	text-align:center;
}